<div >
<div class="card flex justify-content-center p-4">

<p-card header="About me" >
  <p class="m-0">
      je suis Chabrik Abdellatif, j'ai 24 ans, célébatiare. je suis lauréat de l'institut national des postes et télécom (INPT RABAT)
      actuellement j'occupe le poste d'ingénieur étude et développement nestJs/Angular au sein de la societé FYCOMPUTING.
  </p>

  <p class="mt-4">
    Mon histoire dans le domaine de l'informatique en général a commencé durant mes études aux classes préparatoires
    aux grandes école, j'était passioné par les algorithmes et les structures de données, et comment les utiliser
    pour résoudre des problemes loin des calculs manuel.
  </p>

  <p class="mt-4">
    aprés avoir reussi les classes préparatoires avec un classement de 127/1000, j'ai fait un "benchmarking" sur
    les écoles specialisé dans le IT et leurs filières aussi, cela me finalement conduit à integrer mon primer choix
    , c'est la filiere : Advanced Software engineering for digital services (ASEDS).
  </p>

  <p class="mt-4">
     durant 3 ans à l'INPT et jusqu'à présent, j'ai pu effectuer trois stages ai sein de trois societés differentes :
     Office De Développement De Coopération, Intellcap Sarl, FyComputing, et un CDI au sein FyComputing.
     <a routerLink="/resume">voir plus.</a>
  </p>


  <p class="mt-4">
    parmis mes valeurs : planification et organisation, descipline, autonomie,exigence.
  </p>

  <p class="mt-4">
    pour mes missions : développement des services backend avec java,javascript,typescript,go. déveleoppement frontend
    avec angular. management des bases de données sql et nosql : mysql,postgresql,mongodb,
    <a routerLink="/resume">voir plus.</a>
  </p>

</p-card>
</div>
</div>

