<div >
<div class="card flex justify-content-center p-4">

<p-card header="About me" >
  <p class="m-0">
    I am Chabrik Abdellatif, 24 years old, single. I am a graduate of the National Institute of Posts and Telecommunications (INPT RABAT).
     Currently, I hold the position of software engineer specializing in NestJs/Angular development at the company FYCOMPUTING.
  </p>

  <p class="mt-4">
    My journey in the field of computer science began during my studies in preparatory classes for top engineering schools.
     I was passionate about algorithms and data structures, and how to use them to solve problems beyond manual calculations.
  </p>

  <p class="mt-4">
    After successfully completing the preparatory classes with a ranking of 127/1000, I conducted a benchmarking study on IT-specialized schools and their programs.
     This ultimately led me to join my top choice, which is the program: Advanced Software Engineering for Digital Services (ASEDS)
  </p>

  <p class="mt-4">
    During my 3 years at INPT and up to the present, I have had the opportunity to complete three internships with three different companies: Office De Développement De Coopération,
     Intellcap Sarl, and FyComputing. I also secured a permanent position at FyComputing.
     <a routerLink="/resume">see more.</a>
  </p>


  <p class="mt-4">
    Among my values: planning and organization, discipline, autonomy, and high standards.
  </p>

  <p class="mt-4">
    For my tasks: development of backend services using Java, JavaScript and TypeScript. Frontend development with Angular.
    Management of SQL and NoSQL databases, including MySQL, PostgreSQL, and MongoDB
    <a routerLink="/resume">see more.</a>
  </p>

</p-card>
</div>
</div>

