span {
  color: #025D96;
}

h3 {
  font-size: 25px;
}
button {
  border-radius: 10px;
  background-color: #025D96;
  border: white;
  padding: 5px;
  color: white;
}
p {
  width: 280px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.paragraph {
  flex: 1;
  padding: 15px;
}

.image {
  flex: 1;
  padding: 10px;
  text-align: center;
}

/* Responsive styling for smaller screens */
@media (max-width: 1050px) {
  .image {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}
