<div style="background-color: rgba(0,0,0,0.9);" class="h-full flex pt-5 flex-column">
  <div class="flex flex-column align-items-center">

          <p-avatar image="assets/winston.jpg"
          size="xlarge"
          shape="circle"
          ></p-avatar>
          <label class="mt-4" style="color:white;font-family:Lucida Console;">Chabrik Abdellatif</label>

          <div class="grid mt-3">
            <a class="col" style="color: white;"
               (click)="openLink('github')"
               role="button"
            ><i class="pi pi-github"></i
          ></a>

          <a class="col" style="color:  white;" href="#!" role="button" (click)="openLink('twitter')"
            ><i class="fab fa-twitter fa-lg"></i
          ></a>

          <a class="col" style="color:  white;" href="#!" role="button" (click)="contact()"
            ><i class="fab fa-google fa-lg"></i
          ></a>

          <a  class="col" style="color: white;"
          (click)="openLink('linkedin')"  role="button"
            ><i class="fab fa-linkedin fa-lg"></i
          ></a>
          </div>

  </div>
  <div class="flex flex-column ml-3 mt-4 mb-8">
      <div class="mb-3">
        <i class="pi pi-home" style="font-size: 1rem;color:darkgray;"></i>
        <a routerLink="home"><label class="ml-2 text-sm"  style="color:darkgray;font-family: Lucida Console">Home</label></a>
      </div>
      <div class="mb-3">
        <i class="pi pi-user" style="font-size: 1rem;color:darkgray"></i>
        <a routerLink="about"><label class="ml-2 text-sm"  style="color:darkgray;font-family: Lucida Console;">About</label></a>
      </div>
      <div class="mb-3">
        <i class="pi pi-file" style="font-size: 1rem;color:darkgray"></i>
        <a routerLink="resume"><label class="ml-2 text-sm"  style="color:darkgray;font-family: Lucida Console;">Resume</label></a>
      </div>
      <div class="mb-3">
        <i class="pi pi-code" style="font-size: 1rem;color:darkgray"></i>
        <a  routerLink="projects"><label class="ml-2 text-sm"  style="color:darkgray;font-family: Lucida Console;">Projects</label></a>
      </div>
      <div class="mb-3">
        <i class="pi pi-envelope" style="font-size: 1rem;color:darkgray"></i>
        <a  (click)="contact()"><label class="ml-2 text-sm"  style="color:darkgray;font-family: Lucida Console;">Contact</label></a>
      </div>
  </div>

<div class="mt-6" style="align-self: center ;color:white">
  &copy; Abdellatif Chabrik
</div>
</div>
